<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static './css/main.css' %}" />
  {% comment %} <script src="https://cdn.tailwindcss.com"></script> {% endcomment %}
  <title>Document</title>
  
</head>

<body class="font-roboto bg-pink-200">
  <h1> Hola Mundo... <h1>
</body>

</html>sdsd