<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% comment %} <link rel="stylesheet" type="text/css" href="{% static './css/main.css' %}" /> {% endcomment %}
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Document</title>
  
</head>

<body class="font-roboto bg-yellow-500">
  <h1> Hola Mundo... <h1>
</body>

</html>sdsd